{% load i18n %}
{% load static %}

{% load common_tags %}
{% load navigation_tags %}
{% load smart_settings_tags %}

<script>
    if (typeof partialNavigation === 'undefined') {
        /* Check if the template was not loaded via AJAX
         * If not then reload the root path passing the
         * current location's path as the new hash
         */
        document.write('<script type="text/undefined">')
        var currentPath = window.location.pathname + window.location.search;
        window.location = '/#' + currentPath;
    }
</script>

{% block stylesheets %}{% endblock %}

{% if appearance_type == 'plain' %}
    {% block content_plain %}{% endblock %}
{% else %}
    <div class="">
        <div class="row zero-margin">
            <div class="col-xs-12">
                {% common_check_sqlite as check_sqlite %}
                {% if common_check_sqlite %}
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p><strong>{% trans 'Warning' %}</strong> {{ check_sqlite }}</p>
                    </div>
                {% endif %}
                {% block messages %}
                {% endblock %}
            </div>
        </div>

        {% navigation_resolve_menus names='facet,list facet' sort_results=True as facet_menus_link_results %}

        <div class="row zero-margin">
            <div class="col-xs-12 {% if facet_menus_link_results %}has-sidebar{% endif %}" id="viewport">
                {% include 'appearance/calculate_form_title.html' %}

                {# action menu #}
                {% navigation_resolve_menus names='object,secondary' sort_results=True as action_menus_link_results %}
                {% if action_menus_link_results %}
                    <div class="pull-right btn-group" id="menu-actions">
                        <button aria-expanded="true" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                            {% trans 'Actions' %}
                            <span class="caret"></span>
                            <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for menus_link_result in action_menus_link_results %}
                                {% if action_menus_link_results|length > 1 %}
                                    <li class="dropdown-header">{{ menus_link_result.menu.label }}</li>
                                {% endif %}

                                {% for link_group in menus_link_result.link_groups %}
                                    {% if navigation_object_list %}

                                        {% ifchanged link_group.object %}
                                        {% common_get_object_verbose_name obj=link_group.object as link_group_object_verbose_name %}
                                            {% if link_group_object_verbose_name %}<li class="dropdown-header">{{ link_group_object_verbose_name }}</li>{% endif %}
                                        {% endifchanged %}
                                    {% endif %}

                                    {% with link_group.links as object_navigation_links %}
                                    {% with 'true' as as_li %}
                                    {% with 'true' as hide_active_anchor %}
                                    {% with 'btn-sm' as link_classes %}
                                        {% include 'navigation/generic_navigation.html' %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}

                                    {% if not forloop.last and link_group %}
                                        <li class="divider"></li>
                                    {% endif %}

                                {% endfor %}
                                {% if not forloop.last and menus_link_result %}
                                    <li class="divider"></li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}

                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>

            {% if facet_menus_link_results %}
                <div id="sidebar">
                    <div class="list-group">
                        {% for menu_link_result in facet_menus_link_results %}
                            {% for link_group in menu_link_result.link_groups %}
                                {% with link_group.links as object_navigation_links %}
                                {% with 'true' as hide_active_anchor %}
                                {% with 'active' as link_class_active %}
                                {% with 'list-group-item btn-sm' as link_classes %}
                                    {% include 'navigation/generic_navigation.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

<script>
    var DjangoMessages = [
        {% for message in messages %}
            {
                tags: '{{ message.tags }}',
                message: '{{ message.message }}'
            },
        {% endfor %}
    ];
</script>
{% block javascript %}{% endblock %}

<script>
    document.title = '{% filter escapejs %}{% spaceless %}{% block title %}{% endblock %} :: {% block project_name %}{% smart_setting "COMMON_PROJECT_TITLE" %}{% endblock %}{% endspaceless %}{% endfilter %}';
    // Strip HTML entities from the title
    document.title = document.title.replace(/&(?:[a-z\d]+|#\d+|#x[a-f\d]+);/ig, '');
    afterBaseLoad();
</script>
